// button-theme ----------------

$button-theme-black-text-color:#fff;
$button-theme-black-background:#000;
$button-theme-black-opacity-moz-gradient:#000;
$button-theme-black-opacity-webkit-gradient:#000;
$button-theme-black-opacity-gradient:#000;

// button-theme ----------------







// general ----------------
$theme-black-body-background:#e5e5e5;
$theme-black-body-color:#5e5e5e;
$theme-black-text-color:#000;
$theme-black-a-color:#000;
$theme-black-a-hover-color:#000;
// general ---------------- END









// top-link ---------------
$theme-black-color:#000;
$theme-black-top-link-background: #f8f8f8;
$theme-black-top-link-border: #ebebeb;
$theme-black-top-link-li-border: #dddddd;
$theme-black-top-link-a-color: #555555;
$theme-black-drop-down-menu-background: #fff;
$theme-black-drop-down-menu-border: #ccc;
$theme-black-drop-down-menu-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
$theme-black-drop-down-menu-hover-background: $theme-black-color;
$theme-black-drop-down-menu-hover-text-color: #fff;

// top-link --------------- END








// header-global ---------------

$theme-black-header-global-background: #fff;
$theme-black-current-logo: url(../../../assets/images/logo/logo-black@2x.png);
$theme-black-search-form-background:#fff;
$theme-black-search-form-border: #dddddd;
$theme-black-search-form-color: #555;
$theme-black-toggle-menu-background: transparent;
$theme-black-toggle-menu-button-color: #555;

// header-global --------------- END








// header-navigation ---------------

$theme-black-header-navigation-background: $theme-black-color;
$theme-black-header-navigation-color: #fff;
$theme-black-header-navigation-a-border-color:rgba(255, 255, 255, 0.15);
$theme-black-header-navigation-a-hover-background: #fff;
$theme-black-header-navigation-a-hover-color: $theme-black-color;

// header-navigation --------------- END







// stand-out --------------- START

 $theme-black-stand-out-background :#f8f8f8;
 $theme-black-stand-out-tab-side-background :#f1f1f1;
 $theme-black-stand-out-tab-text-color :#484848;
 $theme-black-stand-out-tab-active-background :#000;
 $theme-black-stand-out-tab-active-text-color :#fff   ;
 $theme-black-stand-out-tab-active-after-text-color :#000;

// stand-out --------------- END



// wizard --------------- START

$theme-black-wizard-li-div-a-color:#676767;
$theme-black-wizard-li-done-div-a-color:#000;
$theme-black-wizard-li-done-after-border-color:#000;
$theme-black-wizard-li-done-after-background:#000;
$theme-black-wizard-li-done-after-text-color:#fff;
$theme-black-wizard-li-done-not-last-child-before-background:#000;

// wizard --------------- START







// add-funds --------------- START


 $theme-black-add-funds-set-price-item-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.2);
 $theme-black-add-funds-set-price-item-funds-amount-text-color:#676767;
 $theme-black-add-funds-set-price-item-funds-label-text-color:#999999;
 $theme-black-add-funds-set-price-item-funds-add-background:#f3f3f3;
 $theme-black-add-funds-set-price-item-funds-count-btn-background:#00aeef;
 $theme-black-add-funds-set-price-item-funds-count-btn-text-color:#fff;
 $theme-black-add-funds-set-price-item-funds-count-btn-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.2);
 $theme-black-add-funds-payment-method-item-background:#fff;
 $theme-black-add-funds-payment-method-item-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.2);
 $theme-black-add-funds-payment-content-border-color:#eaeaea;
 $theme-black-add-funds-payment-method-checkout-background: #f3f3f3;
  // add-funds --------------- END




// product ---------------

$theme-black-product-border-color: #fff;
$theme-black-product-background:#fff;

// product --------------- END








// footer --------------- START

$theme-black-footer-background: $theme-black-color;
$theme-black-footer-social-links-color: #fff;
$theme-black-footer-copyright-color: #fff;

// footer --------------- END



// section --------------- START

$theme-black-section-background: #f8f8f8;
$theme-black-section-border-color: #f1f1f1;


// section --------------- END


// panel --------------- START

$theme-black-panel-background: #f8f8f8;

// panel --------------- END


// nouislider --------------- START

$theme-black-nouislider-background:#b8b8b8;
$theme-black-nouislider-progress-background:#000;

// nouislider --------------- END


