// button-theme ----------------

$button-theme-blue-text-color:#fff;
$button-theme-blue-background:#016489;
$button-theme-blue-opacity-moz-gradient:#016489;
$button-theme-blue-opacity-webkit-gradient:#016489;
$button-theme-blue-opacity-gradient:#016489;

// button-theme ----------------


// general ----------------
$theme-blue-body-background:#e5e5e5;
$theme-blue-body-color:#5e5e5e;
$theme-blue-text-color:#016489;
$theme-blue-a-color:#016489;
$theme-blue-a-hover-color:#016489;
// general ---------------- END


// top-link ---------------
$theme-blue-color:#016489;
$theme-blue-top-link-background: #f8f8f8;
$theme-blue-top-link-border: #ebebeb;
$theme-blue-top-link-li-border: #dddddd;
$theme-blue-top-link-a-color: #555555;
$theme-blue-drop-down-menu-background: #fff;
$theme-blue-drop-down-menu-border: #ccc;
$theme-blue-drop-down-menu-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
$theme-blue-drop-down-menu-hover-background: $theme-blue-color;
$theme-blue-drop-down-menu-hover-text-color: #fff;

// top-link --------------- END


// header-global ---------------

$theme-blue-header-global-background: #fff;
$theme-blue-current-logo: url(../../../assets/images/logo/logo-black@2x.png);
$theme-blue-search-form-background:#fff;
$theme-blue-search-form-border: #dddddd;
$theme-blue-search-form-color: #555;
$theme-blue-toggle-menu-background: transparent;
$theme-blue-toggle-menu-button-color: #555;

// header-global --------------- END


// header-navigation ---------------

$theme-blue-header-navigation-background: $theme-blue-color;
$theme-blue-header-navigation-color: #fff;
$theme-blue-header-navigation-a-border-color:rgba(0, 0, 0, 0.08);
$theme-blue-header-navigation-a-hover-background: #fff;
$theme-blue-header-navigation-a-hover-color: $theme-blue-color;

// header-navigation --------------- END



// stand-out --------------- START

$theme-blue-stand-out-background :#f8f8f8;
$theme-blue-stand-out-tab-side-background :#f1f1f1;
$theme-blue-stand-out-tab-text-color :#484848;
$theme-blue-stand-out-tab-active-background :#016489;
$theme-blue-stand-out-tab-active-text-color :#fff   ;
$theme-blue-stand-out-tab-active-after-text-color :#016489;

// stand-out --------------- END


// wizard --------------- START

 $theme-blue-wizard-li-div-a-color:#676767;
 $theme-blue-wizard-li-done-div-a-color:#016489;
 $theme-blue-wizard-li-done-after-border-color:#016489;
 $theme-blue-wizard-li-done-after-background:#016489;
 $theme-blue-wizard-li-done-after-text-color:#fff;
 $theme-blue-wizard-li-done-not-last-child-before-background:#016489;

// wizard --------------- START



// add-funds --------------- START


$theme-blue-add-funds-set-price-item-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.2);
$theme-blue-add-funds-set-price-item-funds-amount-text-color:#676767;
$theme-blue-add-funds-set-price-item-funds-label-text-color:#999999;
$theme-blue-add-funds-set-price-item-funds-add-background:#f3f3f3;
$theme-blue-add-funds-set-price-item-funds-count-btn-background:#016489;
$theme-blue-add-funds-set-price-item-funds-count-btn-text-color:#fff;
$theme-blue-add-funds-set-price-item-funds-count-btn-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.2);
$theme-blue-add-funds-payment-method-item-background:#fff;
$theme-blue-add-funds-payment-method-item-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.2);
$theme-blue-add-funds-payment-content-border-color:#eaeaea;
$theme-blue-add-funds-payment-method-checkout-background: #f3f3f3;

// add-funds --------------- END





// product ---------------

$theme-blue-product-border-color: #fff;
$theme-blue-product-background:#fff;

// product --------------- END




// footer --------------- START

$theme-blue-footer-background: $theme-blue-color;
$theme-blue-footer-social-links-color: #fff;
$theme-blue-footer-copyright-color: #fff;

// footer --------------- END



// section --------------- START

$theme-blue-section-background: #f8f8f8;
$theme-blue-section-border-color: #f1f1f1;


// section --------------- END


// panel --------------- START

$theme-blue-panel-background: #f8f8f8;

// panel --------------- END


// nouislider --------------- START

$theme-blue-nouislider-background:#b8b8b8;
$theme-blue-nouislider-progress-background:#016489;

// nouislider --------------- END


