@import "black-variable";
@import "blue-variable";
@import "../variable";

$themes: (
        black:(
                theme-color:$theme-black-color,
                theme-text-color:$theme-black-text-color,
                theme-body-background:$theme-black-body-background,
                theme-body-color:$theme-black-body-color,
                theme-top-link-background:$theme-black-top-link-background,
                theme-top-link-border:$theme-black-top-link-border,
                theme-top-link-li-border:$theme-black-top-link-li-border,
                theme-top-link-a-color:$theme-black-top-link-a-color,
                theme-drop-down-menu-background:$theme-black-drop-down-menu-background,
                theme-drop-down-menu-border:$theme-black-drop-down-menu-border,
                theme-drop-down-menu-box-shadow:$theme-black-drop-down-menu-box-shadow,
                theme-drop-down-menu-hover-background:$theme-black-drop-down-menu-hover-background,
                theme-drop-down-menu-hover-text-color:$theme-black-drop-down-menu-hover-text-color,
                theme-header-global-background:$theme-black-header-global-background,
                theme-current-logo:$theme-black-current-logo,
                theme-search-form-background:$theme-black-search-form-background,
                theme-search-form-border:$theme-black-search-form-border,
                theme-search-form-color:$theme-black-search-form-color,
                theme-toggle-menu-background:$theme-black-toggle-menu-background,
                theme-toggle-menu-button-color:$theme-black-toggle-menu-button-color,
                theme-header-navigation-background:$theme-black-header-navigation-background,
                theme-header-navigation-color:$theme-black-header-navigation-color,
                theme-a-color:$theme-black-a-color,
                theme-a-hover-color:$theme-black-a-hover-color,
                theme-header-navigation-a-hover-background:$theme-black-header-navigation-a-hover-background,
                theme-header-navigation-a-hover-color:$theme-black-header-navigation-a-hover-color,
                theme-header-navigation-a-border-color:$theme-black-header-navigation-a-border-color,
                theme-product-border-color:$theme-black-product-border-color,
                theme-product-background:$theme-black-product-background,
                theme-footer-background:$theme-black-footer-background,
                theme-footer-social-links-color:$theme-black-footer-social-links-color,
                theme-footer-copyright-color:$theme-black-footer-copyright-color,
                theme-section-background:$theme-black-section-background,
                theme-section-border-color:$theme-black-section-border-color,
                theme-panel-background:$theme-black-panel-background,
                theme-nouislider-background:$theme-black-nouislider-background,
                theme-nouislider-progress-background:$theme-black-nouislider-progress-background,
                button-theme-text-color:$button-theme-black-text-color,
                button-theme-background:$button-theme-black-background,
                theme-moz-gradient-background:$button-theme-black-opacity-moz-gradient,
                button-theme-webkit-gradient-background:$button-theme-black-opacity-webkit-gradient,
                button-theme-gradient-background:$button-theme-black-opacity-gradient,
                theme-stand-out-background:$theme-black-stand-out-background,
                theme-stand-out-tab-side-background:$theme-black-stand-out-tab-side-background,
                theme-stand-out-tab-text-color:$theme-black-stand-out-tab-text-color,
                theme-stand-out-tab-active-background:$theme-black-stand-out-tab-active-background,
                theme-stand-out-tab-active-text-color:$theme-black-stand-out-tab-active-text-color,
                theme-stand-out-tab-active-after-text-color:$theme-black-stand-out-tab-active-after-text-color,
                theme-wizard-li-div-a-color:$theme-black-wizard-li-div-a-color,
                theme-wizard-li-done-div-a-color:$theme-black-wizard-li-done-div-a-color,
                theme-wizard-li-done-after-border-color:$theme-black-wizard-li-done-after-border-color,
                theme-wizard-li-done-after-background:$theme-black-wizard-li-done-after-background,
                theme-wizard-li-done-after-text-color:$theme-black-wizard-li-done-after-text-color,
                theme-wizard-li-done-not-last-child-before-background:$theme-black-wizard-li-done-not-last-child-before-background,
                theme-add-funds-set-price-item-box-shadow:$theme-black-add-funds-set-price-item-box-shadow,
                theme-add-funds-set-price-item-funds-amount-text-color:$theme-black-add-funds-set-price-item-funds-amount-text-color,
                theme-add-funds-set-price-item-funds-label-text-color:$theme-black-add-funds-set-price-item-funds-label-text-color,
                theme-add-funds-set-price-item-funds-add-background:$theme-black-add-funds-set-price-item-funds-add-background,
                theme-add-funds-set-price-item-funds-count-btn-background:$theme-black-add-funds-set-price-item-funds-count-btn-background,
                theme-add-funds-set-price-item-funds-count-btn-text-color:$theme-black-add-funds-set-price-item-funds-count-btn-text-color,
                theme-add-funds-set-price-item-funds-count-btn-box-shadow:$theme-black-add-funds-set-price-item-funds-count-btn-box-shadow,
                theme-add-funds-payment-method-item-background:$theme-black-add-funds-payment-method-item-background,
                theme-add-funds-payment-method-item-box-shadow:$theme-black-add-funds-payment-method-item-box-shadow,
                theme-add-funds-payment-content-border-color:$theme-black-add-funds-payment-content-border-color,
                theme-add-funds-payment-method-checkout-background:$theme-black-add-funds-payment-method-checkout-background,
        ),
        blue:(
                theme-color:$theme-blue-color,
                theme-text-color:$theme-blue-text-color,
                theme-body-background:$theme-blue-body-background,
                theme-body-color:$theme-blue-body-color,
                theme-top-link-background:$theme-blue-top-link-background,
                theme-top-link-border:$theme-blue-top-link-border,
                theme-top-link-li-border:$theme-blue-top-link-li-border,
                theme-top-link-a-color:$theme-blue-top-link-a-color,
                theme-drop-down-menu-background:$theme-blue-drop-down-menu-background,
                theme-drop-down-menu-border:$theme-blue-drop-down-menu-border,
                theme-drop-down-menu-box-shadow:$theme-blue-drop-down-menu-box-shadow,
                theme-drop-down-menu-hover-background:$theme-blue-drop-down-menu-hover-background,
                theme-drop-down-menu-hover-text-color:$theme-blue-drop-down-menu-hover-text-color,
                theme-header-global-background:$theme-blue-header-global-background,
                theme-current-logo:$theme-blue-current-logo,
                theme-search-form-background:$theme-blue-search-form-background,
                theme-search-form-border:$theme-blue-search-form-border,
                theme-search-form-color:$theme-blue-search-form-color,
                theme-toggle-menu-background:$theme-blue-toggle-menu-background,
                theme-toggle-menu-button-color:$theme-blue-toggle-menu-button-color,
                theme-header-navigation-background:$theme-blue-header-navigation-background,
                theme-header-navigation-color:$theme-blue-header-navigation-color,
                theme-a-color:$theme-blue-a-color,
                theme-a-hover-color:$theme-blue-a-hover-color,
                theme-header-navigation-a-hover-background:$theme-blue-header-navigation-a-hover-background,
                theme-header-navigation-a-hover-color:$theme-blue-header-navigation-a-hover-color,
                theme-header-navigation-a-border-color:$theme-blue-header-navigation-a-border-color,
                theme-product-border-color:$theme-blue-product-border-color,
                theme-product-background:$theme-blue-product-background,
                theme-footer-background:$theme-blue-footer-background,
                theme-footer-social-links-color:$theme-blue-footer-social-links-color,
                theme-footer-copyright-color:$theme-blue-footer-copyright-color,
                theme-section-background:$theme-blue-section-background,
                theme-section-border-color:$theme-blue-section-border-color,
                theme-panel-background:$theme-blue-panel-background,
                theme-nouislider-background:$theme-blue-nouislider-background,
                theme-nouislider-progress-background:$theme-blue-nouislider-progress-background,
                button-theme-text-color:$button-theme-blue-text-color,
                button-theme-background:$button-theme-blue-background,
                theme-moz-gradient-background:$button-theme-blue-opacity-moz-gradient,
                button-theme-webkit-gradient-background:$button-theme-blue-opacity-webkit-gradient,
                button-theme-gradient-background:$button-theme-blue-opacity-gradient,
                theme-stand-out-background:$theme-blue-stand-out-background,
                theme-stand-out-tab-side-background:$theme-blue-stand-out-tab-side-background,
                theme-stand-out-tab-text-color:$theme-blue-stand-out-tab-text-color,
                theme-stand-out-tab-active-background:$theme-blue-stand-out-tab-active-background,
                theme-stand-out-tab-active-text-color:$theme-blue-stand-out-tab-active-text-color,
                theme-stand-out-tab-active-after-text-color:$theme-blue-stand-out-tab-active-after-text-color,
                theme-wizard-li-div-a-color:$theme-blue-wizard-li-div-a-color,
                theme-wizard-li-done-div-a-color:$theme-blue-wizard-li-done-div-a-color,
                theme-wizard-li-done-after-border-color:$theme-blue-wizard-li-done-after-border-color,
                theme-wizard-li-done-after-background:$theme-blue-wizard-li-done-after-background,
                theme-wizard-li-done-after-text-color:$theme-blue-wizard-li-done-after-text-color,
                theme-wizard-li-done-not-last-child-before-background:$theme-blue-wizard-li-done-not-last-child-before-background,
                theme-add-funds-set-price-item-box-shadow:$theme-blue-add-funds-set-price-item-box-shadow,
                theme-add-funds-set-price-item-funds-amount-text-color:$theme-blue-add-funds-set-price-item-funds-amount-text-color,
                theme-add-funds-set-price-item-funds-label-text-color:$theme-blue-add-funds-set-price-item-funds-label-text-color,
                theme-add-funds-set-price-item-funds-add-background:$theme-blue-add-funds-set-price-item-funds-add-background,
                theme-add-funds-set-price-item-funds-count-btn-background:$theme-blue-add-funds-set-price-item-funds-count-btn-background,
                theme-add-funds-set-price-item-funds-count-btn-text-color:$theme-blue-add-funds-set-price-item-funds-count-btn-text-color,
                theme-add-funds-set-price-item-funds-count-btn-box-shadow:$theme-blue-add-funds-set-price-item-funds-count-btn-box-shadow,
                theme-add-funds-payment-method-item-background:$theme-blue-add-funds-payment-method-item-background,
                theme-add-funds-payment-method-item-box-shadow:$theme-blue-add-funds-payment-method-item-box-shadow,
                theme-add-funds-payment-content-border-color:$theme-blue-add-funds-payment-content-border-color,
                theme-add-funds-payment-method-checkout-background:$theme-blue-add-funds-payment-method-checkout-background,
        )
);

@mixin theme($theme,$map) {
  body.#{$theme} {
    background-color: map-get($map, theme-body-background) !important;
    color: map-get($map, theme-body-color) !important;
  }
  .#{$theme} {
    $-theme-color: map-get($map, theme-color);
    $-theme-text-color: map-get($map, theme-text-color);
    $-theme-top-link-background: map-get($map, theme-top-link-background);
    $-theme-top-link-border: map-get($map, theme-top-link-border);
    $-theme-top-link-li-border: map-get($map, theme-top-link-li-border);
    $-theme-top-link-a-color: map-get($map, theme-top-link-a-color);
    $-theme-drop-down-menu-background: map-get($map, theme-drop-down-menu-background);
    $-theme-drop-down-menu-border: map-get($map, theme-drop-down-menu-border);
    $-theme-drop-down-menu-box-shadow: map-get($map, theme-drop-down-menu-box-shadow);
    $-theme-drop-down-menu-hover-background: map-get($map, theme-drop-down-menu-hover-background);
    $-theme-drop-down-menu-hover-text-color: map-get($map, theme-drop-down-menu-hover-text-color);
    $-theme-header-global-background: map-get($map, theme-header-global-background);
    $-theme-current-logo: map-get($map, theme-current-logo);
    $-theme-search-form-background: map-get($map, theme-search-form-background);
    $-theme-search-form-border: map-get($map, theme-search-form-border);
    $-theme-search-form-color: map-get($map, theme-search-form-color);
    $-theme-toggle-menu-background: map-get($map, theme-toggle-menu-background);
    $-theme-toggle-menu-button-color: map-get($map, theme-toggle-menu-button-color);
    $-theme-header-navigation-background: map-get($map, theme-header-navigation-background);
    $-theme-header-navigation-color: map-get($map, theme-header-navigation-color);
    $-theme-a-color: map-get($map, theme-a-color);
    $-theme-a-hover-color: map-get($map, theme-a-hover-color);
    $-theme-header-navigation-a-hover-background: map-get($map, theme-header-navigation-a-hover-background);
    $-theme-header-navigation-a-hover-color: map-get($map, theme-header-navigation-a-hover-color);
    $-theme-header-navigation-a-border-color: map-get($map, theme-header-navigation-a-border-color);
    $-theme-product-border-color: map-get($map, theme-product-border-color);
    $-theme-product-background: map-get($map, theme-product-background);
    $-theme-footer-background: map-get($map, theme-footer-background);
    $-theme-footer-social-links-color: map-get($map, theme-footer-social-links-color);
    $-theme-footer-copyright-color: map-get($map, theme-footer-copyright-color);
    $-theme-section-background: map-get($map, theme-section-background);
    $-theme-section-border-color: map-get($map, theme-section-border-color);
    $-theme-panel-background: map-get($map, theme-panel-background);
    $-theme-nouislider-background: map-get($map, theme-nouislider-background);
    $-theme-nouislider-progress-background: map-get($map, theme-nouislider-progress-background);
    $-button-theme-text-color: map-get($map, button-theme-text-color);
    $-button-theme-background: map-get($map, button-theme-background);
    $-button-theme-moz-gradient-background: map-get($map, theme-moz-gradient-background);
    $-button-theme-webkit-gradient-background: map-get($map, button-theme-webkit-gradient-background);
    $-button-theme-gradient-background: map-get($map, button-theme-gradient-background);
    $-theme-body-background: map-get($map, theme-body-background);
    $-theme-body-color: map-get($map, theme-body-color);
    $-theme-stand-out-background:map-get($map,theme-stand-out-background);
    $-theme-stand-out-tab-side-background:map-get($map,theme-stand-out-tab-side-background);
    $-theme-stand-out-tab-text-color:map-get($map,theme-stand-out-tab-text-color);
    $-theme-stand-out-tab-active-background:map-get($map,theme-stand-out-tab-active-background);
    $-theme-stand-out-tab-active-text-color:map-get($map,theme-stand-out-tab-active-text-color);
    $-theme-stand-out-tab-active-after-text-color:map-get($map,theme-stand-out-tab-active-after-text-color);
    $-theme-wizard-li-div-a-color:map-get($map,theme-wizard-li-div-a-color);
    $-theme-wizard-li-done-div-a-color:map-get($map,theme-wizard-li-done-div-a-color);
    $-theme-wizard-li-done-after-border-color:map-get($map,theme-wizard-li-done-after-border-color);
    $-theme-wizard-li-done-after-background:map-get($map,theme-wizard-li-done-after-background);
    $-theme-wizard-li-done-after-text-color:map-get($map,theme-wizard-li-done-after-text-color);
    $-theme-wizard-li-done-not-last-child-before-background:map-get($map,theme-wizard-li-done-not-last-child-before-background);
    $-theme-add-funds-set-price-item-box-shadow:map-get($map,theme-add-funds-set-price-item-box-shadow);
    $-theme-add-funds-set-price-item-funds-amount-text-color:map-get($map,theme-add-funds-set-price-item-funds-amount-text-color);
    $-theme-add-funds-set-price-item-funds-label-text-color:map-get($map,theme-add-funds-set-price-item-funds-label-text-color);
    $-theme-add-funds-set-price-item-funds-add-background:map-get($map,theme-add-funds-set-price-item-funds-add-background);
    $-theme-add-funds-set-price-item-funds-count-btn-background:map-get($map,theme-add-funds-set-price-item-funds-count-btn-background);
    $-theme-add-funds-set-price-item-funds-count-btn-text-color:map-get($map,theme-add-funds-set-price-item-funds-count-btn-text-color);
    $-theme-add-funds-set-price-item-funds-count-btn-box-shadow:map-get($map,theme-add-funds-set-price-item-funds-count-btn-box-shadow);
    $-theme-add-funds-payment-method-item-background:map-get($map,theme-add-funds-payment-method-item-background);
    $-theme-add-funds-payment-method-item-box-shadow:map-get($map,theme-add-funds-payment-method-item-box-shadow);
    $-theme-add-funds-payment-content-border-color:map-get($map,theme-add-funds-payment-content-border-color);
    $-theme-add-funds-payment-method-checkout-background:map-get($map,theme-add-funds-payment-method-checkout-background);






    // button-theme ********* START
    .button-theme {
      color: $-button-theme-text-color !important;
      background-color: $-button-theme-background !important;
      background: $-button-theme-background !important;
      background: $-button-theme-moz-gradient-background !important;
      background: $-button-theme-webkit-gradient-background !important;
      background: $-button-theme-gradient-background !important;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e04952', endColorstr='#91079a', GradientType=1);
    }
    // button-theme ********* END
















    // GENERAL ********* START

    .color-theme {
      color: $-theme-text-color;
    }
    a {
      color: $-theme-a-color;
      &:hover {
        color: $-theme-a-hover-color;
      }
      &:focus {
        color: $-theme-a-hover-color;
      }
      &:active, &.active {
        color: $-theme-a-hover-color;
      }
    }
    // GENERAL *********  END










    // top-link ********* START

    .top-link {
      background: $-theme-top-link-background;
      border-bottom: 1px solid $-theme-top-link-border;
      .right-links {
        ul {
          li {
            border-right: 1px solid $-theme-top-link-li-border;
            a {
              color: $-theme-top-link-a-color;
            }
          }
        }
      }
      .left-links {
        .social-top {
          a {
            color: $-theme-top-link-a-color;
          }
        }
      }
      .dropdown-menu {
        background-color: $-theme-drop-down-menu-background;
        border: 1px solid $-theme-drop-down-menu-border;
        -webkit-box-shadow: 0 6px 12px $-theme-drop-down-menu-box-shadow;
        box-shadow: 0 6px 12px $-theme-drop-down-menu-box-shadow;
        li {
          a {
            color: #555555;
            &:hover, &:focus, &:active {
              background: $-theme-drop-down-menu-hover-background !important;
              color: $-theme-drop-down-menu-hover-text-color !important;
            }
          }
        }
      }
    }

    // top-link *********  END











    // header-global ********* START

    .header-global {
      background: $-theme-header-global-background;
      .logo {
        background-image: $-theme-current-logo;
      }

      .search-form-and-toggle-menu {
        .search-form-content {
          border: 1px solid $-theme-search-form-border;
          background-color:#fff;
          input {
            color: $-theme-search-form-color;
          }
          button {
            background-color: transparent;
            color: $-theme-search-form-color;
          }
        }
        .toggle-menu-content {
          .toggle-menu-button {
            background-color: $-theme-toggle-menu-background;
            color: $-theme-toggle-menu-button-color;
          }
        }
      }

    }

    @media only screen and (max-width: 768px) {
      .top-link {
        .right-links {
          display: none;
        }
      }
      header {
        .header-global {
          .header-global-content {
            .search-form-and-toggle-menu {
              .search-form-content{
                &.open{
                  border: 1px solid $-theme-search-form-border !important;
                }
              }
            }
          }
        }
      }

    }


    // header-global ********* END









    // header-navigation ********* START

    .header-navigation {
      background-color: $-theme-header-navigation-background;
      nav {
        ul {
          & > li {
            border-left-color: $-theme-header-navigation-a-border-color !important;
            & > a {
              color: $-theme-header-navigation-color;
              &:hover, &:active, &:focus,&.active{
                background-color: $-theme-header-navigation-a-hover-background;
                border-top-color: $-theme-color;
                color: $-theme-header-navigation-a-hover-color;
              }
            }
            &:last-child {
              border-right-color: $-theme-header-navigation-a-border-color !important;
            }
            &.active, &.show {
              a {
                background-color: $-theme-header-navigation-a-hover-background;
                border-color: $-theme-color;
                color: $-theme-header-navigation-a-hover-color;
              }
            }
            &.dropdown {
              &.show {
                .dropdown-toggle {
                }
              }
              .dropdown-toggle {

              }
              .dropdown-menu {

                li {
                  a {

                  }
                }
              }
            }
          }
        }
      }
    }

    // header-navigation ********* END








    // section *********** START

    .section {
      background: $-theme-section-background;
      .section-header {
        .border-bottom {
          border-bottom: 1px solid $-theme-section-border-color;
        }
      }
    }

    // section *********** END







    // panel *********** START

    .panel {
      background-color: $-theme-panel-background !important;
    }

    // panel *********** END







    // stand-out *********** START
    .stand-out{
      background-color: $-theme-stand-out-background;
      .stand-out-tab-side{
        background-color: $-theme-stand-out-tab-side-background;
        .stand-out-tab{
          color: $-theme-stand-out-tab-text-color;
          &.active{
            background-color: $-theme-stand-out-tab-active-background;
            color:  $-theme-stand-out-tab-active-text-color;
            &:after{
              color: $-theme-stand-out-tab-active-after-text-color;
            }
          }
        }
      }
    }
    // stand-out *********** END






    // wizard *********** START

    .wizard-content{
      .steps-indicator{
        li{
          div{
            a{
              color: $-theme-wizard-li-div-a-color;
            }
          }
        }
        li{
          &.navigable{
            &.done{
              div{
                a{
                  color:$-theme-wizard-li-done-div-a-color !important;
                }
              }
              &:after {
                border-color: $-theme-wizard-li-done-after-border-color !important;
                background-color:  $-theme-wizard-li-done-after-background !important;
                color:$-theme-wizard-li-done-after-text-color !important;
              }
              &:not(:last-child):before{
                background-color:$-theme-wizard-li-done-not-last-child-before-background !important;
              }
            }
          }
        }

      }
    }


    // wizard *********** END







    // add-funds ************ START

    .set-price-content {
      .set-price-item {
        box-shadow:$-theme-add-funds-set-price-item-box-shadow;
        .funds-amount {
          color:$-theme-add-funds-set-price-item-funds-amount-text-color;
        }
        .funds-label {
          color: $-theme-add-funds-set-price-item-funds-label-text-color;
        }
        .funds-add {
          background: $-theme-add-funds-set-price-item-funds-add-background;
          .funds-counter{
            .funds-count-btn {
              background: $-theme-add-funds-set-price-item-funds-count-btn-background;
              color: $-theme-add-funds-set-price-item-funds-count-btn-text-color;
            }
            .funds-count {
              box-shadow:$-theme-add-funds-set-price-item-funds-count-btn-box-shadow;
            }
          }
        }
      }
    }
    .payment-method-content{
      .payment-method-item{
        background-color: $-theme-add-funds-payment-method-item-background;
        box-shadow: $-theme-add-funds-payment-method-item-box-shadow;
        .payment-content {
          border-color:$-theme-add-funds-payment-content-border-color !important;
        }
        .payment-method-checkout{
          background:$-theme-add-funds-payment-method-checkout-background;
        }
      }
    }

    // add-funds ************ END







    // product ************ START

    .product-listing {
      //border-left: 1px solid $-theme-product-border-color !important;
    }
    .product-categories, .product-listing {
      //border-color: $-theme-product-border-color ;
      border-color: transparent;
      .product-inner {
        border-color: $-theme-product-border-color;
        background-color: $-theme-product-background;
      }
    }

    // product ************ END






    // footer *********** START

    footer {
      background-color: $-theme-footer-background;
      .social-links {
        ul {
          li {
            a {
              color: $-theme-footer-social-links-color;
            }
          }
        }
      }
      .copyright {
        color: $-theme-footer-copyright-color;
        a {
          color: $-theme-footer-copyright-color;
        }
      }
    }

    // footer *********** END








    // nouiSlider

    .noUi-connect {
      background: $-theme-nouislider-progress-background;
    }
    .noUi-handle {
      background: $-theme-nouislider-progress-background;
    }
    [disabled].noUi-connect,
    [disabled] .noUi-connect {
      background: $-theme-nouislider-background;
    }

    // nouiSlider

  }

}

@mixin general($theme,$map) {
  $-theme-color: map-get($map, theme-color);
  [data-theme=#{$theme}] {
    background: $-theme-color;
    &:hover {
      background: darken($-theme-color, 10%);
    }
    &[disabled] {
      background: desaturate($-theme-color, 40%);
    }
  }
}

@each $theme, $map in $themes {
  @include theme($theme, $map);
  @include general($theme, $map);
}



