 .badge{
   border-radius: 0px !important;
   width: 100px;
   padding: 7px;
   font-size: 11px;
   font-weight: bold;
   white-space: nowrap;
   &.badge-warning {
     background-color: #f89406;
     color:#fff;
     &:hover {
       background-color: #c67605;
     }
   }

   &.badge-success {
     background-color: #468847;
     &:hover {
       background-color: #356635;
     }
   }

   &.badge-info {
     background-color: #3a87ad;
     &:hover {
       background-color: #2d6987;
     }
   }

   &.badge-inverse {
     background-color: #333333;
     &:hover {
       background-color: #1a1a1a;
     }
   }

 }