@import "variable";
.button{
  padding: 0 13px;
  display: inline-block;
  overflow: hidden;
  height:44px;
  text-align: center;
  color: #fff;
  border-radius: 0;
  line-height: 42px !important;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  outline: transparent !important;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  &.disabled {
    cursor: not-allowed;
  }
  &:hover{
    color:white !important;
  }
  &.xs{
    height: 30px;
    line-height: 30px !important;
    font-size: 12px;
    font-weight: 500;
  }
  &.sm{
    height: 35px;
    line-height: 35px !important;
    font-size: 13px;
    font-weight: 500;
  }
  &.lg{
    height: 55px;
    line-height: 55px !important;
    font-size: 16px;
    font-weight: 700;
  }
  &.xl{
    height: 60px;
    line-height:60px !important;
    font-size: 17px;
    font-weight: 700;
  }
  span.effect{
    position: absolute !important;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    display: block;
    &:before{
      width: 30%;
      height: 600%;
      content: '';
      position: absolute;
      background: rgba(255, 255, 255, 0.15);
      z-index: -1;
      right: 10%;
      top: 0;
      margin: -5px 0 0 -5px;
      -webkit-transform-origin: 0 0;
      -webkit-transform: rotate(-20deg);
      -moz-transform-origin: 0 0;
      -moz-transform: rotate(-20deg);
      -ms-transform-origin: 0 0;
      -ms-transform: rotate(-20deg);
      transform-origin: 0 0;
      transform: rotate(-20deg);
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s;
    }
    &:hover{
      &:before {
        width: 80%;
      }
    }
  }

}

.button-theme,.button-green,.button-purple,.button-red,.button-black,.button-gray,.button-blue,.button-light-blue,.button-steam,
.button-facebook,
.button-twitch,
.button-google,
.button-twitter{
  border: none !important;
}
.button-default{
  border: 2px solid #fff;
  color:white !important;
  background: none;
  transition: background .2s linear;
  &:hover,&:active,&:focus{
    background: rgba(255, 255, 255, 0.12);
  }
}
.button-red{
  background: #e04952 !important;
  color: #fff !important;
}

.button-gray{
  background: darkgray !important;
  color: #fff !important;
}

.button-green{
  background: #00c2bb !important;
  color: #fff !important;
}
.button-blue{
  background:#00aeef !important;
  background: -webkit-linear-gradient(left,   #00aeef 0%, #00aeef 32%, #00aeef 65%, #00aeef 100%) !important;
  background: linear-gradient(to right,   #00aeef 0%, #00aeef 32%, #00aeef 65%, #00aeef 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00aeef', endColorstr='#00aeef', GradientType=1) !important;
  color: #fff !important;
}

.button-black{
  background:black !important;
  background: -webkit-linear-gradient(left,  #212121 0%, #131313 32%, #101010 65%, #000 100%) !important;
  background: linear-gradient(to right,  #212121 0%, #131313 32%, #101010 65%, #000 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#212121', endColorstr='#000', GradientType=1) !important;
  color: #fff !important;
}









.button-steam{
  background:black !important;
  background: -webkit-linear-gradient(left,  #212121 0%, #131313 32%, #101010 65%, #000 100%) !important;
  background: linear-gradient(to right,  #212121 0%, #131313 32%, #101010 65%, #000 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#212121', endColorstr='#000', GradientType=1) !important;
  color: #fff !important;
}
.button-facebook{
  background-color: #385998;
  color: #fff !important;
}
.button-twitch{
  background-color: #6441a5;
  color: #fff !important;
}
.button-google{
  background-color:  #d0d0d0;
  color: #fff !important;
  .google-icon{
    background-image: url(../../../assets/images/icons/google.png);
    width: 17px;
    height: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: middle;

  }
}
.button-twitter{
  background-color: #1da1f2;
  color: #fff !important;
}


.button-purple{
  background: #a91a86 !important;
  color: #fff !important;
}

.btn{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius:0 !important;  ;
}
.btn-ref-facebook {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-games-group {
  .btn-pubg-csgo {
    cursor: pointer;
    display: inline-block;
    padding: 5px !important;
    -webkit-transition: border .3s linear;
    -moz-transition: border .3s linear;
    -ms-transition: border .3s linear;
    -o-transition: border .3s linear;
    transition: border .3s linear;
    border: 2px solid transparent;
    color: white;
    background-color: rgb(20, 21, 26);
    box-shadow: 1px 1px 5px #000;
    img {
      vertical-align: middle;
      width:25px;
      height: 25px;
      background-color: #1f2020;
    }
    span {
    }
    &:hover, &:active, &:focus, &.active {
      border:2px solid white;
      color:white;
      font-weight: 600;
    }
  }
}



.btn-outline-black {
  color: #3d3d3d;
  background-image: none;
  background-color: transparent;
  border-color: #3d3d3d;
  &:hover,&.active,&:active,&.dropdown-toggle{
    color: #fff;
    background-color: #3d3d3d;
    border-color: #3d3d3d;
  }
  &:focus,&.focus{
    box-shadow: none;
  }
  &.disabled,&:disabled{
    color: #3d3d3d;
    background-color: transparent;
  }
}




.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn-wide {
  padding: 0.2rem 0rem;
  font-size: 0.68rem;
  border-radius: 0.1rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.btn-sxs {
  padding: 0.2rem 1.5rem;
  font-size: 0.76rem;
  border-radius: 0.1rem;
}

.btn-square-xs {
  padding: 1.2rem 1.5rem;
  font-size: 0.76rem;
  border-radius: 0.1rem;
}

.btn-sxs-2 {
  padding: 0.26rem 1.5rem;
  font-size: 0.76rem;
  border-radius: 0.1rem;
}

.btn-sxs-3 {
  padding: 0.26rem 1.5rem;
  border: none;
}

.btn-small {
  padding: 0.2rem 1rem;
  font-size: 0.7rem;
  border-radius: 0;
}

