.color-white {
  color: white !important;
}
.color-pink{
  color:#bd4487 !important;
}

.color-yellow {
  color: yellow !important;
}

.color-darkyellow {
  color: #a2a124 !important;
}

.color-red {
  color: red !important;
}

.color-green {
  color: #249800 !important;
}

.color-orange {
  color: $color-orange !important;
}

.color-orange-dark {
  color: $color_orange_hover !important;
}

.bg-red{
  background-color: #a91a86 !important;
}
.bg-black{
  background-color:#080808 !important;
}
.bg-green{
  background-color: #2c9643 !important;
}
