@import "variable";

body {
  overflow-x: hidden;
  font-family: $body-font-family;
  font-size: 14px;
  margin: 0 !important;
  padding: 0px !important;
}

.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.divider{
  background: #e5e5e5;
  height: 100px;
  width: 1px;
  position: absolute;
  left: 50%;
  top: 0px;
  height: 100%;
}

.clear {
  clear: both !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}
a {
  outline: none;
  text-decoration: none !important;
  cursor: pointer;
  &:hover {
    outline: none;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
  &:active, &.active {
    outline: none;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 700;
}

label {
  display: inline;
  margin: 0px;
  font-weight: normal !important;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

