.min-height-1300 {
  min-height: 1300px !important;
}

.min-height-500 {
  min-height: 500px !important;
}
.min-height-900{
  min-height: 900px !important;
}

.height-850{
  height: 850px !important;
}
