// Popover **************************
.popover {
  background-color: #22222d !important;
  border-bottom: 1px solid #22222d !important;
  .popover-content p {
    padding-bottom: 20px !important;
  }
  &.top {
    margin-top: -20px !important;
    > .arrow {
      border-bottom-width: 0;
      &:after {
        border-top-color: #22222d !important;
      }
    }
  }
  .popover-title {
    background-color: #22222d;
    border-bottom: 1px solid #22222d;
    text-align: center;
  }
}

// Popover ************************** END
