
.noUi-horizontal {
  height: 4px;
}
.noUi-background {
  box-shadow: none;
}
.noUi-connect {
  box-shadow: none;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}
.noUi-origin {
  border-radius: 0;
}
.noUi-target {
  border-radius: 0;
  border: 0;
  box-shadow: none;
}
.noUi-target.noUi-connect {

}

.noUi-handle-upper{
  right:-0px !important;
}

.noUi-draggable {
  cursor: w-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}
.noUi-handle {
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: none;
}
.noUi-horizontal .noUi-handle {
  width: 19px;
  height: 19px;
  left: -9.5px;
  top: -8px;
}
.noUi-active {
  box-shadow: none;
}

.noUi-handle:before,
.noUi-handle:after {
  display: none;
}
.noUi-handle:after {
  left: 17px;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

.price-input {
  display: inline-block;
  vertical-align: top;
  width: 47%;
}
.price-input-divider {
  display: inline-block;
  vertical-align: middle;
  padding: 36px 0 0;
}

/****************************************
* end price slider
*****************************************/