.progressbar {
  display: block;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  background-color: rgba(37, 38, 46, 0.3);
  border-radius: 0px;
  margin: 0px auto;
  position: relative;
  z-index:2;
  .bar {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: -1px;
    /*left:17px;*/
    background: rgb(71, 119, 27);
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7eea19', endColorstr='#53ad00',GradientType=0 );*/
    -webkit-border-radius: 3px;
    border-radius: 0px;
    /*-webkit-box-shadow: 0px 0px 12px 0px rgba(126, 234, 25, 1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);*/
    /*box-shadow: 0px 0px 12px 0px rgba(126, 234, 25, 1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);*/
    overflow: hidden;
    text-align: center;
    -webkit-transition: background 1s linear;
    -moz-transition: background 1s linear;
    -o-transition: background 1s linear;
    -ms-transition: background 1s linear;
    transition: background 1s linear;
    &.color1 {
      background: rgb(71, 119, 27);
      /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7eea19', endColorstr='#53ad00',GradientType=0 );*/
      /*-webkit-box-shadow: 0px 0px 12px 0px rgba(126, 234, 25, 1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);*/
      /*box-shadow: 0px 0px 12px 0px rgba(126, 234, 25, 1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);*/
    }
    &.color2 {
      background: rgb(255, 111, 43);
      /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5c319', endColorstr='#a88c00',GradientType=0 );*/
      /*-webkit-box-shadow: 0px 0px 12px 0px  rgb(160,109,55) ,inset 0px 1px 0px 0px rgba(160,109,55, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);*/
      /*box-shadow: 0px 0px 12px 0px rgb(160,109,55) ,inset 0px 1px 0px 0px rgba(160,109,55, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);*/
    }
    &.color3 {
      background: rgb(201, 48, 44) !important;
      /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e81957', endColorstr='#aa0033',GradientType=0 ) !important;*/
      /*-webkit-box-shadow: 0px 0px 12px 0px rgb(201, 48, 44),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25) !important;*/
      /*box-shadow: 0px 0px 12px 0px rgb(201, 48, 44),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25) !important;*/
    }
    &.color4 {
      background: rgb(24, 109, 226);
      /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#186de2', endColorstr='#0045a5',GradientType=0 );*/
      /*-webkit-box-shadow: 0px 0px 12px 0px rgba(24, 109, 226, 1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);*/
      /*box-shadow: 0px 0px 12px 0px rgba(24, 109, 226, 1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);*/
    }
    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 64px;
      -webkit-border-radius: 16px;
      border-radius: 16px;
      top: 0;
      left: 0;
      opacity: 0.3;
    }
  }
  .label {
    font-family: 'Aldrich', sans-serif;
    position: relative;
    display: block;
    width: 100px;
    height: 50px;
    line-height: 45px;
    z-index: 9;
    top: 14px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-align: center;
  }
  p {
    font-weight: 900;
    font-size: 24px;
    line-height: 46px;
    color: #000;
    font-size: 16px;
    z-index: 99;
    position: relative;
    margin-top: -48px;
  }
}
