.tab-container {
  .nav-tabs {
    border-bottom: 1px solid #ddd;
    position: relative;
    li {
      margin-bottom: 0;
      position: initial;
    }
    .nav-item {
      .nav-link {
        font-weight: 600;
        font-size:12px;
      }
      &.show {
        .nav-link {
          color: #fff;
          background-color: black;
          border-color: black;
        }
      }
      .nav-link {
        border: 1px solid transparent;
        border-radius: 0px !important;
        &.active {
          color: #fff;
          background-color: black;
          border-color: black;
        }
      }
    }

  }
  .tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
  }
}

