$body-font-family: 'Oxygen', sans-serif;
$body-background-color:#e5e5e5;
$body-font-color:#5e5e5e;



$color_white:#fff;
$color-light-gray:#b6bfba;
$color_yellow:#fff200;
$color_opacity_blue:rgba(5, 171, 189, 0.3);
$chat_username_color:#b6bfba;
$color_blue_content:#252d36;
$color_darkblue:#222227;
$color_darkblue_hover:#101217;
$color_blue_border:rgba(0, 0, 0, 0.1);
$color_darkgray:#151515;
$color_blue:#05abbd;
$color_blue_hover:#03a2b5;
$color_blue_disabled:#015d67;
$color_green:#08974f;
$color_green_hover:#0c7d3d;
$color_green_disabled:#356b50;
$color_lightgreen:#00e06f;
$color_lightgreen_hover:#0c7d3d;
$color_lightgreen_disabled:#356b50;
$color_orange:#f55c15;
$color_orange_hover:#f9560a;
$color_orange_disabled:#963D0A;
$color_purple:#871794;
$color_purple_hover:#530a5a;
$color_purple_disabled:#562b5a;
$color_red:#f12929;
$color_red_hover:#da1d1d;
$color_red_disabled:#ad3636;
